txt/theFaithSoundBot.json
{
  "name": "Website Chat with Telegram Integration",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-chat",
        "options": {
          "allowedOrigins": "http://localhost:8000,https://yourdomain.github.io"
        }
      },
      "id": "b8c77db4-4c4c-4f85-9c1e-6f8a9b2d3e5f",
      "name": "Website Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "sessionId",
              "value": "={{$json.sessionId || 'session_' + $now}}"
            },
            {
              "name": "userMessage",
              "value": "={{$json.message || $json.chatInput}}"
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-7890-1234-567890abcdef",
      "name": "Set Session ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{$json.userMessage.toLowerCase()}}",
              "rightValue": "price",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "leftValue": "={{$json.userMessage.toLowerCase()}}",
              "rightValue": "buy",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "leftValue": "={{$json.userMessage.toLowerCase()}}",
              "rightValue": "purchase",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "leftValue": "={{$json.userMessage.toLowerCase()}}",
              "rightValue": "cost",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combineOperation": "any"
        }
      },
      "id": "c3d4e5f6-g7h8-9012-3456-789012345678",
      "name": "Check for Sales Triggers",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You're a friendly music producer who works for The Faith Sound and loves the Visualizer 1.0 plugin. Talk naturally and casually.\n\nCRITICAL: Match their energy first. If they just say 'hey' respond with 'Hey! What's up?' Don't launch into product explanations unless they ask.\n\nProduct info (share ONLY when asked):\n- Visualizer 1.0: Visual interface for MIDI controllers\n- $29.99 (was $39.99), lifetime updates, 30-day guarantee\n- Works with all major DAWs\n\nRespond naturally and let them guide the conversation.",
        "hasOutputParser": false
      },
      "id": "d4e5f6g7-h8i9-0123-4567-890123456789",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.aiAgent",
      "typeVersion": 1,
      "position": [
        800,
        200
      ]
    },
    {
      "parameters": {
        "chatId": "REPLACE_WITH_YOUR_CHAT_ID",
        "text": "🚨 SALES OPPORTUNITY 🚨\n\nUser asking about: {{$node[\"Set Session ID\"].json[\"userMessage\"]}}\n\nSession: {{$node[\"Set Session ID\"].json[\"sessionId\"]}}\n\nReply 'TAKE' to join this conversation",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "e5f6g7h8-i9j0-1234-5678-901234567890",
      "name": "Alert Sales Team",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        800,
        400
      ]
    },
    {
      "parameters": {
        "options": {
          "responseData": "firstEntryJson"
        }
      },
      "id": "f6g7h8i9-j0k1-2345-6789-012345678901",
      "name": "Respond to Website",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1000,
        300
      ]
    }
  ],
  "connections": {
    "Website Chat Webhook": {
      "main": [
        [
          {
            "node": "Set Session ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Session ID": {
      "main": [
        [
          {
            "node": "Check for Sales Triggers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Sales Triggers": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Alert Sales Team",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "your-n8n-instance"
  },
  "id": "workflow-123",
  "tags": []
}
