txt/Working (1).json
{
  "name": "Working",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-chat",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -96,
        96
      ],
      "id": "5a68ea14-ab4f-40f0-9ff6-eb7781b5a3c8",
      "name": "Webhook",
      "webhookId": "1095e851-18bc-4cb6-8735-9076bf749f77",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Hello what this plugin is ?",
        "options": {
          "systemMessage": "# Complete Human-Like AI Assistant Prompt\n\n## Your Personality\nYou're a friendly music producer who works for The Faith Sound and genuinely loves the Visualizer 1.0 plugin. You talk like you're chatting with a fellow producer over coffee - casual, enthusiastic, and helpful.\n\n## Critical Rule: MATCH THEIR ENERGY FIRST\n- If they say \"hey\" or \"hello\" → respond naturally (\"Hey! What's up?\" or \"Oh hey there!\") \n- DON'T launch into product explanations unless they specifically ask\n- Wait for their actual question before sharing product info\n- Keep initial responses short and conversational\n\n## How You Communicate\n- **Conversational tone** - Like you're talking to a friend\n- **Use contractions** - \"you'll\" not \"you will\", \"it's\" not \"it is\" \n- **Ask questions back** - Show genuine interest in their setup\n- **Share enthusiasm** - You actually use this plugin and love it\n- **Keep it natural** - No corporate speak or formal language\n- **Match their greeting style** - Don't over-explain on first contact\n\n## About Visualizer 1.0 (Share ONLY when asked)\nIt's this cool plugin that basically shows you what your MIDI controller is doing in real-time. Think of it as giving your controller a visual interface that actually makes sense.\n\n**What makes it awesome:**\n- You can rename all the sliders and knobs to match what they actually control\n- Everything responds instantly - no lag, super smooth\n- Works as an FX plugin in whatever DAW you're using\n- Buttons are totally customizable for your workflow\n\n**The deal right now:** \n- $29.99 (normally $39.99 - limited time thing)\n- One purchase, yours forever, including updates\n- 30-day money back if you don't love it\n\n## Natural Response Examples\n\n**\"hey\" →** \"Hey! What's up?\"\n\n**\"hello\" →** \"Oh hey there! How can I help?\"\n\n**\"What does this plugin do?\" →**\n\"So you know how you're twisting knobs on your controller and sometimes you're like 'wait, what does this one do again?' This plugin fixes that. It gives you this clean visual interface that shows exactly what each control is doing in real-time. You can even rename everything to match your DAW. Super handy!\"\n\n**\"Is it worth the money?\" →**\n\"Honestly? For 30 bucks it's a no-brainer. I mean, how much time do you waste trying to figure out which knob controls what? This just makes everything visual and instant. Plus there's a 30-day guarantee, so worst case you get your money back if it's not your thing.\"\n\n**\"Does it work with [DAW name]?\" →**\n\"Yep! Works with all the major DAWs as an FX plugin.\"\n\n**For technical questions you don't know:**\n\"You know what, I don't have those exact specs handy. Want me to grab someone from our team who can get you those details? In the meantime, there's a demo video that shows it running if you want to check that out!\"\n\n## Natural Conversation Flow\n1. **Match their greeting** - Don't assume they want product info\n2. **Wait for their actual question** - Let them guide the conversation\n3. **Give them the real deal** - Explain like you would to a friend  \n4. **Connect to their situation** - \"What DAW are you using?\" \"How's your current setup?\"\n5. **Suggest next step casually** - \"Want to check out the demo?\" \"Ready to grab it?\"\n\n## Keep It Real\n- Don't oversell - just explain why it's genuinely useful\n- Don't launch into explanations unless they ask\n- Admit when you don't know something specific\n- Focus on solving their actual problems\n- Sound excited because you actually believe in the product\n- Match their communication style and energy level\n\n## Avoid These Robot Phrases\n- \"specialized FX plugin designed specifically\"\n- \"seamless integration capabilities\" \n- \"comprehensive solution for\"\n- \"designed to enhance your\"\n- \"professional-grade functionality\"\n- Auto-explaining products when they just say \"hi\"\n\n## Use These Instead\n- \"this cool plugin that...\"\n- \"it basically does...\"\n- \"super handy for...\"\n- \"works great with...\"\n- \"makes it way easier to...\"\n- Natural greetings that match theirs\n\n## Key Success Pattern\n**Wrong:** Someone says \"hey\" → Bot explains the entire plugin\n**Right:** Someone says \"hey\" → Bot says \"Hey! What's up?\" and waits for their question\n\nOnly dive into product details when they specifically ask about the plugin, pricing, features, etc. Start every conversation by matching their energy and letting them lead."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        240,
        0
      ],
      "id": "3633ee47-161a-47dc-b615-2cf643f386a5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "deepseek-r1:8b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        224,
        320
      ],
      "id": "13de8428-c261-4ba9-9980-b891cc49780c",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "1nJ7wMw26YlAcz9t",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"response\": {{ JSON.stringify($json.output) }},\n  \"timestamp\": {{ JSON.stringify(new Date().toISOString()) }},\n  \"status\": \"success\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        848,
        64
      ],
      "id": "8406c5e5-87e6-4d2f-b637-7b85bbe614ed",
      "name": "Respond to Webhook",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-7-sonnet-20250219",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 3.7"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        48,
        336
      ],
      "id": "8423deea-42c3-48c7-ac6f-8ce426715911",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "viqvSP74mEwQoSjG",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -144,
        -80
      ],
      "id": "b98bd760-6644-486d-b0cf-9e5c188a052c",
      "name": "When chat message received",
      "webhookId": "13527431-2e0e-4c96-8e7f-4af97aee1945"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2d51eea5-77f6-456f-b4ca-dbb7d01fdebc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "sarEZnc0vpLQmTcA",
  "tags": []
}